<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <link rel='alternate' type='application/rss+xml' title='atom 1.0' href='/feed' />
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
    <meta name="keywords" content="{{ site.configs.keywords }}" />
    <meta name="description" content="{{ site.raw_content }}" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/t/stylesheets/screen.css?version={{ resource_version }}" media="all">
    <!--[if IE]>
    <link href="/t/stylesheets/ie.css?version={{ resource_version }}" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 7]>
    <link href="/t/stylesheets/font-awesome-ie7.min.css.css?version={{ resource_version }}" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <div id="wrap">
        <header id="header" class="cf">
            <div class="logo">
                <a href="/">{{ site.configs.title or site.title}}</a>
            </div>
            {% if has('posts') %}
            <nav class="main-nav">
                <ul class="menu">
                    <li>
                        <a href="/" {% block nav_index%} {% endblock %}>Home</a>
                    </li>
                    <li>
                        <a href="/archive" {% block nav_archive %} {% endblock %}>Archive</a>
                    </li>
                    {%  if has('images') %}
                    <li>
                        <a href="/folder/" {% block nav_folder %} {% endblock %}>Photos</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="/pages/links"  {% if request.path == '/pages/links' %}class="current"{% endif %}>Links</a>
                    </li>

                    <li>
                        <a href="/pages/about"  {% if request.path == '/pages/about' %}class="current"{% endif %}>About</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </header>
        <div id="main" class="cf">
            {% block content %}
            {% endblock %}
        </div>
        {% include 'include/footer.html' %}
    </div>
    {{ site.configs.scripts_for_post }}
</body>
</html>